<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact Form</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="https://github.com/liliann19/guestbook-form.git" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/liliann19/" target="_blank">LinkedIn</a></li>
    </ul>
</nav>
