<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/form-styles.css">

    <!-- Favicon -->
    <link rel="icon" href="/images/icon.png">
</head>
<body>
    <header>
        <h1>Thank you for your submission!</h1>
    </header>

    <div class="button">
        <a href="/" id="submit-button">Back to form</a>
    </div>
</body>
</html>