<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lilian Nguyen - Resume</title>

    <!-- Favicon -->
    <link rel="icon" href="images/icon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/resume-styles.css">
</head>
<body>
    <%- include('partials/navbar') %>

    <div class="container">
    <!-- Contact Info -->
    <header class="resume-header">
        <div class="header-text">
            <h1>Lilian Nguyen</h1>
            <nav>
                liliannguyen19@gmail.com | (253) 455-3219 |
                <a href="https://www.linkedin.com/in/liliann19">linkedin.com/in/liliann19/</a> |
                <a href="https://github.com/liliann19">github.com/liliann19</a>
            </nav>
        </div>
        <div class="header-image">
            <img src="images/photo.jpeg" alt="Photo of Lilian">
        </div>
    </header>

    <!-- Summary -->
    <section class="summary-section">
        <h2>Summary</h2>
            <p id="summary-paragraph">
                Driven software development student seeking internship opportunities to apply and expand technical skills in data analytics or web development.
                Experience in Python, JavaScript, Java, and full-stack project development, with a foundation in data structures and object-oriented programming.
            </p>
    </section>

    <!-- Education -->
    <section class="education-section">
        <h2>Education</h2>
        <article class="education-item">
            <div class="education-header">
                <h3>Bachelor of Applied Science, Software Development (Computer Science)</h3>
                <span class="year">Expected June 2027</span>
            </div>
            <p>Green River College, Auburn, WA</p>
            <ul>
                <li>Relevant Coursework: Object-oriented programming, Data structures, Full-stack web development</li>
            </ul>
        </article>

        <article class="education-item">
            <div class="education-header">
                <h3>Associate of Applied Science, Data Analytics & Software Development<span class="honor">, Highest Honors</span></h3>
                <span class="year">Aug 2025</span>
            </div>
            <p>Green River College, Auburn, WA</p>
        </article>
    </section>

    <!-- Skills & Certifications -->
    <section class="skills-certification-section">
        <h2>Skills</h2>
        <ul>
            <li>Programming Languages: Java, Python, JavaScript, SQL</li>
            <li>Web & Backend: HTML, CSS, Node.js, Express.js, EJS, API integration</li>
            <li>Agile & Collaboration: Pair programming, Sprint development</li>
            <li>Tools & IDEs: Excel, IntelliJ, VS Code, Google Colab, Jupyter Notebook</li>
        </ul>

        <h2>Certifications</h2>
        <ul>
            <li>CodePath - Intro to Technical Interview Prep</li>
            <li>Google - AI Essentials</li>
        </ul>
    </section>

    <!-- Experience -->
    <section class="experience-section">
        <h2>Experience</h2>
        <article class="experience-item">
            <div class="experience-header">
                <h3>StatMando Client Web Development Project<span class="company">, StatMando of PDGA</span></h3>
                <span class=year>Apr 2025 - Jun 2025</span>
            </div>
            <ul>
                <li>Redesigned player profiles to make competitive disc golf statistics more accessible and engaging.</li>
                <li>Integrated personalized performance data, improving user engagement.</li>
                <li>Developed interactive player stat panels using Python, JavaScript, and HTML/CSS.</li>
            </ul>
        </article>

        <article class="experience-item">
            <div class="experience-header">
                <h3>Public Data Analysis Project<span class="company">, Academic Research</span></h3>
                <span class="year">Jan 2025 - Mar 2025</span>
            </div>
            <ul>
                <li>Explored public datasets to uncover insights about community infrastructure and data privacy in Washington State.</li>
                <li>Identified that ransomware accounted for 48% of data breaches.</li>
                <li>Analyzed and visualized data using Google Colab, Python, Pandas, Seaborn, and SciPy in Jupyter Notebook.</li>
            </ul>
        </article>

        <article class="experience-item">
            <div class="experience-header">
                <h3>Administrative & Financial Assistant<span class="company">, Landscaping Business</span></h3>
                <span class="year">Jul 2013 -  Dec 2024</span> 
            </div>
            <ul>
                <li>Coordinated daily administrative tasks, client communication, scheduling, and tax submissions.</li>
                <li>Secured a $25k landscaping contract, contributing to business growth.</li>
                <li>Managed quarterly tax submissions and financial records using Excel.</li>
            </ul>
        </article>
    </section>

    <!-- Achievements & Activities -->
    <section class="achievements-activities-section">
        <h2>Achievements and Activities</h2>
        <ul>
            <li>
                <span class="achievement-text">Washington State Opportunity Scholarship, <span class="award">Awardee</span></span>
                <span class="achievement-year">Apr 2025 - Present</span>
            </li>
            <li>
                <span class="achievement-text">Theta Kappa Honor Society, <span class="member">Member</span></span>
                <span class="achievement-year">Jun 2024 - Present</span>
            </li>
        </ul>
    </section>
    </div>
</body>
</html>