<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/icon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles/form-styles.css">

    <!-- Link to JavaScript -->
    <script src="/js/guestbook.js" defer></script>
</head>
<body>
    <div id="main">
    <header>
        <h1>Contact form</h1>
    </header>

    <form id="guestbook-form" action="submit-request" method="post">

        <!-- Personal Info -->
        <fieldset>
            <div class="field-container">
                <div class="field">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="fname">
                    <span id="err-fname" class="errors">Please enter your first name</span>
                </div>

                <div class="field">
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lname">  
                    <span id="err-lname" class="errors">Please enter your last name</span>
                </div>
                
                <div class="field">
                    <label for="title">Job Title</label>
                    <input type="text" id="title" name="title">
                </div>
            </div>
        </fieldset>

        <!-- Contact Info -->
        <fieldset>
            <div class="field-container">
                <div class="field">
                    <label for="company">Company</label>
                    <input type="text" id="company" name="company">
                </div>

                <div class="field">
                    <label for="linkedin">LinkedIn URL</label>
                    <input type="url" id="linkedin" name="linkedin">
                    <span id="err-linkedInUrl" class="errors"></span>
                </div>

                <div class="field">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email">
                    <span id="err-email" class= "errors">Please enter a valid email if you join the mailing list</span>
                </div>
            </div>
        </fieldset>

        <!-- Connection Info -->
        <fieldset>
            <div class="field-container">
                <div class="connect-field">
                <label for="meet">How did we meet?</label>
                <select id="meet" name="meet">
                    <option value="none">Please select</option>
                    <option value="linkedin">LinkedIn</option>
                    <option value="meetup">Networking Meetup</option>
                    <option value="referral">Referral/Friend</option>
                    <option value="social-media">Social Media</option>
                    <option value="other">Other</option>
                </select>
                <span id="err-meet" class="errors">Please select how we met</span>
                </div>

                <div class="connect-field" id="other-container">
                    <label for="other">Other (please specify)</label>
                    <input type="text" id="other" name="other">
                </div>
            </div>
        </fieldset>

        <!-- Message -->
        <fieldset>   
            <div class="field-container">
                <div class="message-field">
                    <label for="message">Message</label>
                    <textarea rows="6" id="message" name="message"></textarea>
                </div>
            </div>
        </fieldset>

        <!-- Mailing List Preferences -->
        <fieldset>
            <label for="mailing">
                <input type="checkbox" id="mailing" name="mailing" value="mailing">Please add me to your mailing list
            </label>

            <div class="radio-field">
                <legend>Choose an email format:</legend> 
                <label for="html">
                    <input type="radio" id="html" name="format" value="html">HTML
                </label>
    
                <label for="text">
                    <input type="radio" id="text" name="email-format" value="text">Text
                </label>  
            </div>
        </fieldset>

        <!-- Submit button -->
        <button type="submit" id="submit-button">Submit</button>

        <!-- URL to Github -->
        <div class="url-container">
            <a href="https://github.com/liliann19/guestbook-form.git">https://github.com/liliann19/guestbook-form.git</a>
        </div>
    </form>
    </div>
</body>
</html>